.\/japanese {
  .correct {
    background: oklch(0.9 0.05 141)
  }

  .incorrect {
    background: oklch(0.9 0.05 18);
  }

  .current {
    background: oklch(0.9 0.05 244);

    .hint-0 {
      opacity: 0;
      animation-delay: calc(var(--hint-delay-ms) * 1ms);
      animation-fill-mode: forwards;
      animation-name: fadeIn;
      animation-timing-function: ease-in;
      animation-duration: 2s;
    }

    .hint-1 {
      opacity: 0;
      animation-delay: calc(var(--hint-delay-ms) * 2ms);
      animation-fill-mode: forwards;
      animation-name: fadeIn;
      animation-timing-function: ease-in;
      animation-duration: 2s;
    }
  }

  .prev,
  .next {
    opacity: 0.5;
    font-size: 2em;
  }

  .prev,
  .cur,
  .next {
    font-size: 3em;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
