$duration: 0.2s;
$delay: 0.1s;
$height: 1rem;

.nav-menu {
  width: 100%;
  height: $height * 2;
  line-height: $height;
  position: relative;
  background: white;

  > * {
    position: absolute;
  }
}

.nav-menu-option {
  opacity: 0.8;
  height: $height;

  &:hover {
    opacity: 1;
  }
}

.nav-menu-breadcrumb {
  height: 100%;
  text-wrap: nowrap;
  background: white;

  > * {
    height: $height;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }

  .nav-menu-branch-taken {
    font-weight: bold;
    transition: padding-bottom $duration $delay ease-in-out;
  }

  .nav-menu-branch-not-taken {
    min-height: 0;
    height: 0rem;
    max-width: 0rem;

    transition: height $duration $delay ease-in-out,
      transform $duration $delay ease-in-out,
      max-width $duration $delay ease-in-out,
      padding-bottom $duration $delay ease-in-out;
    transform: scaleY(0);

    &:hover {
      font-weight: bold;
    }
  }

  &:hover {
    .nav-menu-branch-not-taken {
      height: $height;
      transform: scaleY(1);
      max-width: 200px;
    }

    > * {
      padding-bottom: 0.3rem;
    }
  }
}
