.stack {
  display: grid;
  grid-template-areas: 1 / 1 / 2 / 2;
  //   grid-template-columns: 1fr;
  //   grid-template-rows: 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;

  > * {
    grid-area: 1 / 1 / 2 / 2;
  }

  > .anim > * {
    grid-area: 1 / 1 / 2 / 2;
  }
}
