@media print {
  .hide-in-print {
    display: none;
  }
}

@font-face {
  font-family: "Noto Sans JP";
  src: url(Noto+Sans+JP.woff2) format("woff2");
}

input,
button,
textarea,
select {
  font-size: inherit;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", sans-serif;

  // make default font size for phones more bearable
  @media (orientation: portrait) {
    font-size: 1.5vh;
  }
}

mark {
  background-color: inherit;
  color: inherit;
  font-weight: bold;
}

p {
  margin: 0;
}

.clickable {
  cursor: pointer;
  transition: text-decoration 0.2s, filter 0.2s;

  &:hover {
    text-decoration: underline;
    filter: brightness(2);
  }
}

